<div class="row border-bottom">
    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
        
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <% if user_signed_in? %>
                <li>
                    <%= link_to destroy_user_session_path, method: :delete, data: { turbo_method: :delete } do %>
                        ログアウト <i class="bi bi-box-arrow-right"></i>
                    <% end %>
                </li>
            <% else %>
                 <li>
                    <%= link_to "ログイン", new_user_session_path %>
                </li>
                <li>
                    <%= link_to "サインアップ", new_user_registration_path %>
                </li>
            <% end %>
        </ul>

    </nav>
</div>